* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: #ffff;
}
html {
    font-family: "Open Sans", sans-serif;
}
/* Navbar Section */
#navbar {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.75rem;
    height: 70px;
}
#navbar ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}
#navbar ul li a {
    padding: 0.5rem;

}
#navbar ul li a:hover {
    background: #336ea2;
    border-radius: 8px;
}

/* Home Section */

#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-bottom: 1px solid grey;
}

#home img {
    max-width: 100%;
    width: 15%;
    height: 15%;
    border-radius: 20%;
}
#home .name h2 {
    margin-bottom: 0.75rem;
}
#home .name p {
    opacity: 0.6;
    font-style: italic;
}

/* Courses */

#courses {
    color: #fff;
    padding: 1rem;
}
#courses .items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#courses .items .item {
    width: 33%;
    text-align: center;
    padding: 0.5rem;
}
#courses .items .item:hover {
    color: greenyellow;
    opacity: 0.6;
}
